body, html {
	/*layout*/
	margin: 0;
	padding:0;
	height: 100%;
	width: 100%;
	/*other*/
	font-size: 12px;
	color: #000;
	font-family: 'Open Sans', sans-serif;
	}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: 800;
	font-style: italic;
}


#map-holder{
    position: relative;
	width: 100%;
	height: 100%;
}

#debug {
	position: relative;
	font-size: 11px;
}
#zoneOutput {
	font-weight: bold;
	font-size: 2rem;
	margin: .2em;
}

.results {
	clear: both;
	width: 100%;
}
 input#searchtext {
	display: block;
	margin: 0 auto 10px;
	width: 300px;
	height: 2em;
	font-size: 14px;
	text-align: center;
}


button#layer-toggle, button#search {
	display: block;
	margin: 0 auto 30px;
	width: 200px;
}


.pure-menu .pure-menu-heading {
	color: white;
	font-size: 1.3rem;
	height: 2.5em;
}

.altIds li {
	list-style-type: none;
}








.pure-menu.pure-menu-open {
background: rgb(41,154,11); /* Old browsers */
background: -moz-linear-gradient(top, rgba(41,154,11,1) 0%, rgba(41,154,11,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(41,154,11,1)), color-stop(100%,rgba(41,154,11,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(41,154,11,1) 0%,rgba(41,154,11,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(41,154,11,1) 0%,rgba(41,154,11,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(41,154,11,1) 0%,rgba(41,154,11,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(41,154,11,1) 0%,rgba(41,154,11,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#299a0b', endColorstr='#299a0b',GradientType=0 ); /* IE6-9 */
}



.active .results {
width: 25px;
height: 25px;
-webkit-animation: sweep 1s infinite linear;
-moz-animation: sweep 1s infinite linear;
-ms-animation: sweep 1s infinite linear;
border-radius:20px;
border-bottom:5px solid black;
margin: 20px auto 0;
}
@-webkit-keyframes sweep { to { -webkit-transform: rotate(360deg); } }
@-moz-keyframes sweep { to { -moz-transform: rotate(360deg); } }
@-ms-keyframes sweep { to { -ms-transform: rotate(360deg); } }


/****
Fixing issue that causes zoom control to be obscured: 
https://stackoverflow.com/questions/8511436/zoom-control-and-streetview-not-showing-on-my-google-map
****/
.gmnoprint img { max-width: none; }

.main {
	position: relative;
}
.sidebar {
	position: fixed;
	z-index: 2;
	height: 100%;
	overflow: hidden;
	background: rgba(38, 38, 38, 0.75);
	width: 300px;
	vertical-align: middle;
	padding: 2em;

}
.results {
	color: yellow;
}

img[src^="http://sco-tt.github.io/"]{
	opacity:.5
}

