body, html {
	/*layout*/
	margin: 0;
	padding:0;
	height: 100%;
	width: 100%;
	/*other*/
	font-size: 12px;
	color: #000;
	font-family: 'Open Sans', sans-serif;
	}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: 800;
	font-style: italic;
}
/*#map-holder {
	display: block;
	width: 100%;
	height: 400px;
}*/

#map-holder{
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0px;
    right: 0;
}
#debug {
	position: relative;
	font-size: 11px;
}
#zoneOutput {
	font-weight: bold;
	font-size: 2rem;
	margin: .2em;
}
.main {
	max-width: 1400px;
}
.results-container {
	z-index: 999;
	height: 7em;
	color: black;
}
.results {
	top: .5em;
	left: 2em;
}

/*Header*/



.w, .mc, .z {
	display: block;
	line-height: .9em;
}
.w {
	font-size: 48px;
}
.mc {
	font-size: 32px;
}
.z {
	font-size: 24px;
}

p.ie {
	width: 100%;
	background: rgb(250, 210, 50);
	margin: 0;
	padding: 1em;
}

.input *, h1.logo {
	position: fixed;
	z-index: 1;
}
.input * {
	margin-top: 1em;
}

h1.logo {
	left: 2%;
}

input#searchtext, button.pure-button {
	width: 5em;
	text-align: center;
}

input#searchtext {
	left: 40%;
}
button.pure-button {
	left: 50%;
}

button#layer-toggle {
	left: 60%;
}

.active .results {
width: 25px;
height: 25px;
-webkit-animation: sweep 1s infinite linear;
-moz-animation: sweep 1s infinite linear;
-ms-animation: sweep 1s infinite linear;
border-radius:20px;
border-bottom:5px solid black;
margin: 20px auto 0;
}
@-webkit-keyframes sweep { to { -webkit-transform: rotate(360deg); } }
@-moz-keyframes sweep { to { -moz-transform: rotate(360deg); } }
@-ms-keyframes sweep { to { -ms-transform: rotate(360deg); } }


/****
Fixing issue that causes zoom control to be obscured: 
https://stackoverflow.com/questions/8511436/zoom-control-and-streetview-not-showing-on-my-google-map
****/
.gmnoprint img { max-width: none; }

.layer-toggle {


}

img[src^="http://sco-tt.github.io/"]{
	opacity:.5
}

@media only screen and (min-width: 768px) {
	.pure-g-r, 
	.pure-u-2-5,
	.pure-u-3-5, 
	 {
		height: 100%;
	}
}